.boxes {
  width: 100%;

  .boxItem {
    border: 1px solid royalblue;
    padding: 30px;
    display: flex;
    justify-content: space-around;
  }
}

.addBox {
  position: fixed;
  bottom: 10%;
  left: 20%;
}
